*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom , rgba(77, 46, 85, 0.3),rgba(18, 62, 68, 0.8));
    color: #fff;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
}
.location h1 {display: inline;}
.almost-degree{font-size: 14px;}
.almost-degree span  {font-size: 10px;}